<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahil Vichare - Resume</title>
    <script src="https://cdn.tailwindcss.com"></script>
   
</head>
<body class="p-5">
    <div class="resume-container">
        <header>
            <div class="w-full flex flex-col items-center ">
                <h1 class="text-2xl font-semibold py-1">Sahil Vichare</h1>
                <p class="text-base font-semibold py-1">Software Developer</p>
            </div>
            <div class=" w-full  py-1 flex justify-center">
                <span class="px-2 mb-3 mr-1 border-r-2">7200234883</span>
                <span class="px-2 mb-3 mr-1  border-r-2">sahilvichare81@gmail.com</span>
                <span class="px-2 mb-3 mr-1  border-r-2"><a href="#">GitHub </a></span>
                <span class="px-2 mb-3 mr-1  border-r-2">Yerwada, Pune</span>
                <span class="px-2 mb-3 mr-1  border-r-2"><a href="#">LinkedIn</a></span>
                <span class="px-2 mb-3 mr-1  cursor-pointer"><a href="#">Leetcode</a></span>
            </div>
        </header>
        <section class="summary py-1 ">
            <h3 class="text-base font-medium border-b-2">SUMMARY</h3>
            <p class="pl-3 py-2">Highly skilled and detail-oriented software developer with 2 years of experience designing, developing, and deploying enterprise-level applications. Proficient in multiple programming languages, software development methodologies, and database management systems. Strong problem-solving skills and ability to work effectively in a team-based environment.</p>
        </section>
       <section class="experience py-4">
            <h2 class="text-lg font-medium border-b-2 mb-3">EXPERIENCE</h2>
            <div class="flex items-center w-full justify-between pb-1">
                <div >
                    <h3 class="text-lg font-semibold">Postman.</h3>
                     <p>Postman Campus Leader</p>
                </div>
            <div>
                <p>Jan 2024 - Present</p>
                <a href="#">Badge Link</a></p>
            </div>
        </div>
            <p class="pl-2">Building RESTful APIs (Node.js) from scratch, Testing, Staging and Deploying them on different cloud service providers. Implementing Unit Testing, also hosting informative and tech events based on APIs and Node.js to teach the students and spread API literacy.endeavors.</p>
        </section>

        <section class="education">
            <h2 class="text-lg font-medium border-b-2 mb-3">EDUCATION</h2>
            <div class="flex items-center w-full justify-between pb-1">
                <div >
                    <h3 class="text-lg font-semibold">Bachelor in Computer Science</h3>
                     <p>MES Wadia College of Engineering, Pune</p>
                </div>
            <div>
                <p>2021-2025</p>
                
            </div>
        </div>
        </section>
        

        <section class="internships py-4">
            <h2 class="text-lg font-medium border-b-2 mb-3">INTERNSHIP</h2>

            <div class="flex items-center w-full justify-between pb-1">
                <div >
                    <h3 class="text-lg font-semibold">Edunet Foundation (IBM Skills Build)</h3>
                     <p>IBM Cloud and Artificial Intelligence Intern</p>
                </div>
            <div>
                <p>Jan 2024 - Feb 2024</p>
                <!-- <a href="#">Certificate Link</a></p> -->
            </div>
        </div>
            <p class="pl-2">During my internship at Edunet Foundation, I gained practical experience in machine learning and artificial intelligence projects. I worked on data preprocessing, model development, and algorithm refinement under the guidance of IBM professionals. This experience enhanced my skills and understanding of these technologies, preparing me for future challenges in the field.</p>
        </section>
        
        <section class="projects">
            <h2 class="text-lg font-medium border-b-2 mb-3">PROJECTS</h2>
        <div class="mb-3">
            <h3 class="text-lg font-semibold">Campus Connect Form</h3>
            <p>React.js, Advance Node.js, MongoDB</p>
            <p class="pl-2">Project facilitates knowledge sharing & career guidance among students. Incorporates strong user interaction and efficient doubt resolution.</p>
        </div>

        <div class="mb-3">
            <h3 class="text-lg font-semibold">Password Manager App</h3>
            <p>Advance Node.js, MongoDB, Cryptography</p>
            <p class="pl-2">Password management project ensures secure storage using cryptography, bcrypt encryption, and decryption methods for enhanced data protection and user privacy.</p>
        </div>
        <div class="mb-3">
            <h3 class="text-lg font-semibold">3 Professional Landing Pages</h3>
            <p>Advance React.js, HTML, CSS, and Javascript</p>
        </section>
        </div>

       
        <section class="skills mt-2">
            <h3 class="text-lg font-medium border-b-2 mb-2">OTHER</h3>
            <div class="skills-container flex flex-col justify-evenly">
                <div class="">
                    <li class="text-base font-medium ">Soft Skills: <span class="font-normal">Public Speaking, Leadership, Critical thinking, Team work</span></li>
                    <li class="text-base font-medium ">Hard Skills: <span class="font-normal">Problem Solving, Intermediate Coding, Object Oriented Programming, Application Development</span></li>
                    <li class="text-base font-medium ">Technical Skills: <span class="font-normal">HTML, CSS, Javascript, Google Cloud, React.js, Advance Node.js, MongoDB, MySQL </span></li>

            </div>
        </section>
    </div>
</body>
</html>
